<div class="bx-wrapper" max-width="1000px">
    <ul class="bxslider" width="100%">
    <li><img src="/assets/BannerImage1.jpg" /></li>
    <li><img src="/assets/BannerImage2.jpg" /></li>
    <li><img src="/assets/BannerImage3.jpg" /></li>
    <li><img src="/assets/BannerImage4.jpg" /></li>
    </ul>
</div>

<script type="text/JavaScript">
    $(document).ready(function(){
    $('.bxslider').bxSlider({
        auto: true,
        autoControls: false,
        controls: false,
    });
    });
</script>
<br>